<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item  routerLink="/ipFetch">
      <mat-icon>fingerprint</mat-icon>
      <span>Récupérer son IP</span>
    </button>
  </mat-menu>
  <span>Menu</span>
  <span class="spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="/" matTooltip="retour à l'accueil">
    <mat-icon>home</mat-icon>
  </button>
</mat-toolbar>
